.display-none {
    display: none;
}

h2 {
    color: $darkest-color;
    @include title(1.5rem);
    text-align: center;
}

#recipe-clicked {
    background: $lightest-color;
}

// GALLERY STYLES

.click-instruction {
    @include body-text(1rem);
    text-align: center;
}