.display-none {
    display: none;
}


h2 {
    color: $darkest-color;
    @include title(1.5rem);
    text-align: center;
}

#recipe-clicked {
    .wrapper {
        padding-top: 40px;
    }
    .chosen-photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    padding: 0.1px;
    background: $lightest-color;
}

// GALLERY STYLES

.click-instruction {
    @include body-text(1rem);
    text-align: center;
    color: $darkest-color;
}

.gallery {
    display: flex;
    flex-direction: column;

    .photo-box {
        flex: 1;
        padding: 5px 10px;
        border: 2px dashed $main-detail-color;
    }

    .photo-box:nth-of-type(2) {
        margin: 2% 0;
    }

    .gallery-title {
        padding: 10% 0;
    }

    h2 {
        margin: 0;
    }
}

// IPAD STYLES FOR GALLERY 

@media (min-width: 768px) {
    .gallery {
        flex-direction: row;
        align-items: stretch;

        .photo-box {
            display: flex;
        }

        .photo-box:nth-of-type(2) {
            margin: 0 2%;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}